@import url("https://fonts.google.com/specimen/Montserrat");
@import url("https://fonts.google.com/specimen/Mulish");

$titleFontFamily: 'Montserrat', sans-serif;
$textFontFamily: 'Mulish', sans-serif;

$titleFontWeight: 500;
$textFontWeight: 500e;

$backgroundColor: #03080f;
$backgroundImage: linear-gradient(0deg, #03080f 0%, #081221 100%);

$cardBackground: #0e1a2b;

$titleColor: #ffffff;
$textColor: #c1d1e8;

$inputBackground: #182c47;
$buttonColor: #5692e8

